<nav class="navbar navbar-expand-lg navbar-default bg-white navbar-insta">
    <div class="container">
        <div class="row w-100">
            <div class="col">
                <a class="navbar-brand" [routerLink]="['/home']">#BadInsta</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col">
                <form class="form-inline my-2 my-lg-0 insta-search-form">
                    <i class="glyphicon glyphicon-search"></i>
                    <input class="form-control mr-sm-2 insta-search" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="col">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item compas-block" *ngIf="authenticated" >
                            <a class="nav-link compas-img" [routerLink]="['/compas']"
                               title="possible interests">
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="authenticated">
                            <a class="nav-link" [routerLink]="['/likes']"
                               title="likes">
                                <i class="glyphicon glyphicon-heart"></i></a>
                        </li>
                        <li class="nav-item" *ngIf="authenticated">
                            <a class="nav-link" [routerLink]="['/user']" title="{{user['name']}}"><i class="glyphicon glyphicon-user"></i></a>
                        </li>
                        <li class="nav-item" *ngIf="!authenticated">
                            <a class="nav-link" [routerLink]="['/register']">Register</a>
                        </li>
                        <li class="nav-item" *ngIf="!authenticated">
                            <a class="nav-link">|</a>
                        </li>
                        <li class="nav-item" *ngIf="!authenticated">
                            <a class="nav-link" [routerLink]="['/login']">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>