.navbar-insta {
  padding: 25px 0;
  background-color: #fafafa!important;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.navbar-brand {
  color: #030303;
  font-weight: 700;
  font-family: "Segoe Script";
}

.insta-search-form {
  position: relative;
  padding-top: 5px;
  .glyphicon {
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: 999;
    color: #a5a7aa;
    font-size: 14px;
  }
  .insta-search {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding: 3px 10px 3px 26px;
    z-index: 2;
  }
}

.nav-right {
  text-align: right;
  align-items: flex-end;
  margin-left: auto;
  .glyphicon {
    color: transparentize(#030303, .25);
    font-size: 24px;
  }
}

.compas-block {
  position: relative;
  padding-right: 20px;
  margin-right: 10px;
  .compas-img {
    position: absolute;
    display: block;
    top: -38px;
    padding-bottom: 20px;
    width: 140%;
    background-image: url("compas.png");
    background-size: cover;
  }
}